body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap');


* { box-sizing: border-box; font-family: "Noto Sans"; }

.App { background: #ddd; padding:0; display:flex; justify-content: center; min-height:100vh; } 

.edit-all,
.view-all { width: 1440px;  background:#efefef; padding-top:80px; text-align: left;}

.edit-all h1,
.view-all h1 { background:white; height:80px; line-height: 80px; position:absolute; left:0; right:0; top:0; margin-top: 0; text-align: center;}
.edit-all > div,
.view-all > div { display:flex; flex-direction: column; align-items: center; position: relative;  }

.view-all > header { background:#fce08e; padding:30px; text-align: center; }
.view-all > header > div { width:810px; box-shadow: rgba(187, 187, 187, 0.5) 0px 2px 4px;}
.view-all > header > div > .MuiInputBase-root { background: white; border: none;}
.view-all > header > div > .MuiInputBase-root > * { border:none; }

.view-all > header + div { padding: 60px 0; }

.view-all .project { width:1024px; padding:20px; background:white; border: 1px solid rgba(0,0,0,0.125); box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075); 
  border-radius: 0.25rem; margin-bottom:30px; cursor: pointer;
}
.view-all .project:hover { box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23); }
.view-all .project h2 { text-align:right; margin:0; font-size:20px;  }

.view-all .project header { display:flex; justify-content: space-between; align-items: flex-start; }
.view-all .project header p { margin:0; text-align:left; }


.view-all .project .gen { font-weight:700; font-size: 13px; margin-top:5px; display: flex; align-items: baseline; line-height: 16px; } 
.view-all .project .gen > div { display: inline-block; margin-left:5px; font-weight: 400; align-items: baseline; /*margin-top:6px; */}
.view-all .project .gen > div > div { display: block; }
.view-all .project .gen > div > div + div { margin-top:4px; }
.view-all .project .gen > div > div:not(:last-child) { margin-right:15px; }
.view-all .project .gen a { color:#d73449; text-decoration: none; }
.view-all .project .gen a:hover { border-bottom: 1px solid #d73449;}
.App .md p { margin:0; }
.App .md + .md,
.App .md p + p { margin-top: 4px; }
.view-all .project .gen ol { margin-top: 5px; padding-left:15px; }

.view-all .project .staff span:nth-of-type(2) { text-transform: uppercase;  padding:0 2px; border:2px solid rgba(0,0,0,0.25); border-radius: 2px; font-size: 10px; font-weight: 600; color:#4a4a4a; 
  margin-left: 5px;
}
/*
.view-all .project .staff span:nth-of-type(2)::before { content:' ('; }
.view-all .project .staff span:nth-of-type(2)::after { content:')'; }
*/

.view-all .project .desc { font-weight:400; font-size: 13px; }
.view-all .project .desc > div { font-weight:700; margin:0 5px 0 0; }

.view-all .project main { font-size:13px; display:flex;  }
.view-all .project main > div:first-child { width:calc(100% - 250px); }

.view-all .project .with-dates > div { display: inline-block;  } 
.view-all .project .with-dates > div > div { display: block; }
/* .view-all .project .dates div > span:first-child::after { content: ' on ' ;} */
.view-all .project .with-dates div > span:first-child:last-child::after,
.view-all .project .with-dates div > span:last-child:not(:first-child) { background:#fce08e; padding:0 3px; border-radius: 2px; font-weight: 700;  margin-left:5px; }
.view-all .project .with-dates div > span:first-child:last-child::after { content: 'none';}
.view-all .project .with-dates div > span:first-child:last-child { display: inline-flex;}

.view-all .project .links p { margin:0; }

.view-all .project .status { flex-wrap: wrap; position: relative; align-items: flex-start; display:block;}
.view-all .project .status:has(.graph:first-of-type) { min-height:150px; }
.view-all .project .status > div { width:100%; margin:0; padding-left:20px; display: flex; align-items: baseline;  /*padding-right:300px; */}
.view-all .project .status > div > div:first-child { margin-right:5px !important; font-weight: 600;}

.view-all .project .graph { /* position: absolute; display: block; bottom:0; right:0;*/ width:250px;height:150px; z-index: 1; padding:0; flex-shrink: 0; align-self: flex-end;}
.view-all .project .graph svg { width:100%; height:auto; display: block; /*position: absolute;bottom:0;right:0; */ background:#f9f9f9; box-shadow: 0 0 3px 1px rgba(0,0,0,0.25); }


.edit-all > div { flex-direction: row; flex-wrap: nowrap; align-items: flex-start; }

.edit-all nav { width:300px; padding:30px; display: flex; justify-content: flex-end; flex-wrap: wrap; padding-right: 0;}
.edit-all nav > a { width:250px; display: block; text-decoration: none; color: #444; font-size:14px; margin-top:20px; padding:10px; outline:none;}
.edit-all nav > a.on { background:white; }
.edit-all nav > a > div:first-child { font-weight:500; }
.edit-all nav > a > div:last-child { white-space:nowrap; overflow: hidden; text-overflow: ellipsis; opacity:0.5; color:black; font-size:12px;}

.edit-all main { width: calc(100% - 300px - 250px); margin:30px; }
.edit-all main .block { background: white; margin:10px; margin-right:0; width:100%; 
  box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075); border: 1px solid rgba(0,0,0,0.125); border-radius: .25rem;
}
.edit-all main .block:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
}
.edit-all main .block { padding:15px; height:55px; overflow: hidden; }
.edit-all main .block h2 { font-size:17px; margin:0; }
.edit-all main .block.on { height: auto; }
.edit-all main .block:not(.on) h2 ~ * { display: none; }

.edit-all main .block > div { margin-top:15px; display:flex; width:calc(100% - 75px) ;}
.edit-all main .block > div > div { width:100%; }
.edit-all main .block > div > div + div { margin-left:20px; }
.edit-all main .block div:has(.md) { flex-wrap: wrap; }
.edit-all main .block div .md { margin:0; padding:10px; background:#f0f0f0; margin-top:15px; font-size:14px; }

.edit-all main + nav { display: block; width:250px; padding-left:20px; }
.edit-all main + nav span { color: #4a4a4a; font-size: 10px; font-weight: 700; text-transform: uppercase; margin-top: 25px; opacity: 1; display: block; cursor: pointer ; position: relative; z-index: 0;}
.edit-all main + nav span::before  { position: absolute; width: calc(100% - 20px); height: calc(100% + 20px); left: -10px; top: -10px; background: blue; }
.edit-all main + nav span.on::before { filter: drop-shadow(0px 2px 2px rgba(212,212,212,0.5));  background: white;  z-index: -1;  content: ''; }

.edit-all main header { width:100%; height:200px; background: white; margin:10px; padding:15px;}
.edit-all main header div { width:100%; height:120px; background:#fce08e; display: flex; align-items: center; justify-content: center;}
.edit-all main header div::before { width:90px; height:90px; content:'AO'; border-radius: 50%; background: white; display: flex; align-items:center; justify-content: center; font-size: 45px; font-weight: 300; }

.edit-all main header a {  border-radius: 3px;  padding: 8px 12px; line-height: 14px; text-align: center; border: none; font-weight: 700; font-size: 12px; text-transform: uppercase; box-shadow: none !important;
  background-color: #d73449; color: white; text-decoration: none; float:left; margin-top:17px;
}